<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <title>애니메이션</title>
    <style>
        .v-enter-active, .v-leave-active {
            transition : 0.5s;
        }
        .v-enter, .v-leave-to {
            opacity: 0;
            transition : translateX(20px);
        }
    </style>
</head>
<body>
    <div id="app">
        <label><input type="checkbox" v-model="isOK">변경</label>   
        <transition>
            <p v-if="isOK">표시/비표시 애니메이션</p>
        </transition>
        <hr>
        <transition-group>
            <li v-for="item in dataArray" :key="item">{{item}} </li>
        </transition-group>
        <label><input v-model="addItem" placeholder="추가할 리스트"></label>
        <button @click="addList">추가</button><p></p>
        <button @click="removeLast">맨뒤에 1개 삭제</button>
    </div>

    <script>
        new Vue({
            el : '#app',
            data : {
                isOK : false,
                dataArray:['벚꽃','산수유','진달래','철죽'],
                addItem : ''
            },
            methods: {
                addList : function() {
                    this.dataArray.push(this.addItem);
                    this.addItem = '';
                },
                removeLast : function() {
                    var lastIdx = this.dataArray.length - 1;
                    this.dataArray.splice(lastIdx, 1);
                }
            },
        })
    </script>
</body>
</html>        