<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
    <title>todo</title>
</head>
<body>
    <h2>ToDo리스트</h2>
    <div id="app">        
        <div v-for="todo in todos">
            <label>
                <input type="checkbox" v-model="todo.done">
                <span :class="{donestyle:todo.done}"> {{todo.text}} </span>
            </label>
        </div>
        <input type="text" v-model.trim="addText" @keyup.enter="addToDo" placeholder="할일">
        <p><button @click="cleanToDo">처리완료</button> </p>

        <p> {{remaining}} / {{todos.length}} 건 처리 </p>
    </div>
    <style>
        .donestyle {
            text-decoration: line-through;
            color: lightgray;
        }
    </style>

    <script>
        new Vue({
            el : '#app',
            data : {
                addText : '',
                todos : [
                    {done:false, text:'빵사기'},
                    {done:false, text:'커피사기'}
                ]
            },
            computed: {
                remaining : function() {
                    return this.todos.filter(function(val) {
                        return val.done;
                    }).length;
                }
            },
            methods: {
                addToDo : function() {
                    if (this.addText) {
                        this.todos.push({done:false, text:this.addText});
                        this.addText='';                        
                    }
                },
                cleanToDo : function() {
                    this.todos = this.todos.filter(function(val){
                        return val.done == false;
                    })
                }
            },
        })
    </script>
</body>
</html>        