<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
    <title>Model Test1</title>
</head>
<body>
    <div id="app">
        <input v-model="myName" placeholder="이름">
        <p>나는 {{myName }} 입니다. </p>
        <textarea v-model="myText"></textarea>
        <p>문장은, [ {{myText}}] 입니다. </p>
        <p>문자수는 {{ myText.length}} 자 입니다.</p>

        <label >
            <input type="checkbox" v-model="myCheck">
            체크박스의 상태는 {{myCheck}}
        </label>
        <br>
        <label> <input type="checkbox" value="red" v-model="myChecks">적</label><br>
        <label> <input type="checkbox" value="blue" v-model="myChecks">청</label><br>
        <label> <input type="checkbox" value="green" v-model="myChecks">녹</label><br>
        선택한 색은 {{ myChecks }}
        <br>
        <label><input type="checkbox" v-model="myAgree">동의합니다.</label>
        <button :disabled="!myAgree">송신</button>
        <br>
        <label><input type="radio" value="red" v-model="picked">적</label>
        <label><input type="radio" value="blue" v-model="picked">청</label>
        <label><input type="radio" value="green" v-model="picked">녹</label>
        {{ picked }}이 선택됨
        <br>
        <!-- multiple이 없으면 기존대로 1개 선택 -->
        <select v-model="myColor" multiple style="width: 150px;">
            <option disabled>색을 선택해 주세요</option>
            <option>red</option>
            <option>green</option>
            <option>blue</option>
            <option>orange</option>
            <option>brown</option>
        </select>
        <p :style="{color:myColor}">선택한 색상은 {{myColor}} 입니다.</p>
        <br>
        <!-- multiple style="width: 150px;" 
            lazy다 쓰고 나서 인스턴스 데이터에 입력
            trim 앞뒤공백 자동 제거
            number 입력 내용을 자동으로 수식으로 변경
        -->
        <input v-model.lazy.trim="myText">   
        <p>입력후 표시 "{{myText}}"" </p>
        <input v-model.number="myNumber" type="number">
        <p> 100을 더해서 표시함 {{100 + myNumber}} </p>
    </div>    
    <script>
        new Vue({
            el : "#app",
            data : {
                myName : '',
                myText : '오늘 미세먼지 많음.',
                myCheck : true,
                myChecks : [],
                myAgree : false,
                picked : 'red',
                myColor:[],
                myText : '',
                myNumber : 0
            }
        });
    </script>
</body>
</html>