<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
    <title>for</title>
    <style>
        table {
            width: 100%;
            text-align: left;
        }
        table th{
            padding: 12px;
            border-bottom: 2px solid darkgray;
        }
        table td {
            padding: 12px;
        }
        table tr:nth-of-type(even){
            background-color: rgba(0, 0, 255, 0.1);
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>관심받는 언어 랭킹</h3>
        <table>
            <thead>
                <th v-for="item in header">{{item}} </th>
            </thead>
            <tbody>
                <tr v-for="line in ranking">
                    <td v-for="item in line">{{item}} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        new Vue({
            el : '#app',
            data : {
                header : ['프로그램언어',2018,2019,2008,2003,1998],
                ranking : [
                        ['java',1,2,1,1,16],
                        ['c',2,1,2,2,1],
                        ['c++',3,4,3,3,2],
                        ['python',4,7,6,11,23],
                        ['javascript',7,10,8,7,20]
                    ]
            }
        })
    </script>
</body>
</html>        